# Note: this is targetted as the dependencies of deephaven-core, but not including deephaven-core
jpy>=0.14.0
deephaven-plugin
numpy
pandas
pyarrow
numba; python_version < "3.12"
jedi==0.18.2
nltk
tensorflow
torch
scikit-learn
