# Note: this is targetted as the dependencies of deephaven-core, but not including deephaven-core
jpy>=0.17.0
deephaven-plugin>=0.5.0
numpy
pandas>=1.5.0
pyarrow
numba; python_version < "3.12"
jedi==0.19.1
nltk
tensorflow
torch
scikit-learn
