# Note: this is targetted as the dependencies of deephaven-core, but not including deephaven-core
jpy>=0.13.0
deephaven-plugin
numpy
pandas
pyarrow<10
numba; python_version < "3.11"
jedi==0.18.2
nltk
tensorflow
torch
scikit-learn
