wheel
auditwheel
patchelf

# hack to ensure turbodbc builds numpy bindings
numpy

# hack to ensure turbodbc builds pyarrow bindings
# auditwheel-keep-pyarrow.py is targeting pyarrow 12
pyarrow==12.0.0
