wheel
auditwheel
patchelf

# hack to ensure turbodbc builds numpy bindings
numpy

# hack to ensure turbodbc builds pyarrow bindings
# auditwheel-keep-pyarrow.py is targeting pyarrow 11
pyarrow==11.0.0
