wheel
auditwheel>=6.0.0
patchelf

# The following requirements are copied from turbodbc/setup.py setup_requires

# hack to ensure turbodbc builds numpy bindings
numpy>=1.20

pybind11>=2.10.4

# hack to ensure turbodbc builds pyarrow bindings
# Ensure this is compatible with the auditwheel --exclude
pyarrow==14.0.1
